node_modules
.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.claudeconfig.json
.claudeconfig
current-work.md
requirements.md
technical-summary.md
masterplan.md
## Environment files
.env.production
.env.development
meta-deletion.md
cli-latest
pooler-url
gotrue-version
postgrest-version
project-ref
rest-version
storage-version
supabase/.temp
supabase/.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
